footer {
    display: flex;
    padding: 50px 200px;
    height: 33%;
    background-color: #660000;
    color: white;
    font-size: 20px;
}

footer ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 235px;
}

footer li {
    display: flex;
    flex-direction: column;
}

footer img {
    width: 30px;
}

footer h3 {
    font-size: 2rem;
    font-weight: 700;

}

.contact p {
    margin-top: 23px;
    margin-bottom: 20px;
}

.contact span {
    margin-top: 13px;
}

.grafic {
    color: #D7D7D7;
    font-size: 20px;
    margin-top: 50px;
    white-space: nowrap;

}

.graf {
    font-size: 24px;

}

.social {

    white-space: nowrap;
    color: #D7D7D7;
    font-size: 24px;
    margin-top: 1.3rem;

}

.social div {
    display: flex;
    gap:38px;
    margin-top: 2rem;
}

.social div img {
    width: 30px;
    height: 30px;
}