.slider {
  width: 100%;
  height: 1020px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
  transition: opacity 0.8s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
  z-index: 2;

}


.arrow {
  position: absolute;
  top: 0;
  width: 8%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  transition: background 0.4s ease;
}

.arrow.left {
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0));
}

.arrow.right {
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0));
}

.arrow:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.545), rgba(0,0,0,0));
}

.arrow.right:hover {
  background: linear-gradient(to left, rgba(0,0,0,0.545), rgba(0,0,0,0));
}


.dots {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.dot {
  width: 12px;
  height: 12px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #0066ff;
}

.slider h1{

  font-size: 6rem;
}

.text-slider{
  z-index: 100;
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 12.5rem;
  margin-top: 14rem;
  color: rgb(255, 255, 255);
  width: 743px; 

}
.text-slider p{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 60px;
}
.text-slider Link{

}