.isHome {
    margin-top: 5.7%;
}

@media (max-width: 1024px) {

    .isHome {
        margin-top: 6.9%;

    }

}

@media (max-width: 768px) {
    .isHome {
        margin-top: 6.3%;

    }
}

@media (max-width: 426px) {
    .isHome {
        margin-top: 9.6%;

    }
}

@media (max-width: 378px) {
    .isHome {
        margin-top: 10.8%;

    }

}

@media (max-width: 360px) {
    .isHome {
        margin-top: 12.8%;

    }
}