.carCard {
  width: 16.4rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0;
}

.carCard_imgBox {
  width: 100%;
  height: 13.7rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 12px #D9D9D9;
}



.carCard_imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carCard_title {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 1.3rem;

}

.carCard_price {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111;
  margin: 0;
  padding: 0;
  margin-top: 1.3rem;

}

.carCard_info {
  font-size: 0.95rem;
  color: #333333;
  display: grid;
  grid-template-columns: 1fr 0fr;
  row-gap: 0.6rem;
  font-weight: 500;
  white-space: nowrap;
}

.right {
  text-align: right;

}



.carCard_btn {
  width: 100%;
  padding: 1rem 0;
  background: #FF4A4A;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 1rem;
}

.carCard_btn:hover {
  background: #ce2d2d;
}