.car_list_wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.car_list_wrapper h3 {
  font-size: 2rem;
  margin-bottom: 62px;

}

.car_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
  width: 100%;
  transition: transform 0.2s ease;
}

.nav_btn {
  position: absolute;
  top: 40%;
  transform: translateY(-20%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #00000033;
  color: #595959;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  z-index: 10;
}

.nav_btn.left {
  left: 0;
}

.nav_btn.right {
  right: 0;
}

.nav_btn:hover {
  background-color: rgba(255, 255, 255, 0.6);

}

.nav_btn:active {
  background-color: rgba(0, 0, 0, 0.6);

}

.nav_btn.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.all_ofers {
  margin-top: 85px;
  color: #D91E36;
  text-decoration: underline;
  text-decoration-color: #D91E36;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}