.baner {
    display: block;
    position: absolute;
    width: 100vw;
    margin: 0;
    padding: 0;

}


.baner_text {
    color: white;
    z-index: 5;
    position: relative;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}